<div class="img-thumbnail">
        <img src="assets/images/{{crib.image}}.jpg"  alt="" width="328" height="270">
        <div class="caption">
            <div *ngIf="!crib.showDetails">
                <h6>
                    <span class="badge badge-primary">
                        {{ crib.type }}
                    </span>
                </h6>
                <h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line></svg>
                    <i class="glyphicon glyphicon-tags">
                        {{ crib.price | currency:'USD':true }}
                    </i>
                </h6>
                <h6>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                    <i class="glyphicon glyphicon-home">
                        {{ crib.address }}
                    </i>
                </h6>
                <hr>
                <button 
                    class="btn btn-sm btn-success"
                    *ngIf="!crib.showDetails"
                    (click)="crib.showDetails = !crib.showDetails">
                    Details
                </button>                      
                
            </div>

            <div *ngIf="crib.showDetails">
                <h6>
                    <span class="badge badge-primary">
                        Beds: {{ crib.bedrooms }}
                    </span>
                    <span class="badge badge-primary">
                        Baths: {{ crib.bathrooms }}
                    </span>
                    <span class="badge badge-primary">
                        SqFt: {{ crib.area }}
                    </span>
                </h6>
                <p>{{ crib.description }}</p>
                <hr>
                <button 
                    class="btn btn-sm btn-danger"
                    (click)="crib.showDetails = !crib.showDetails">
                    Close
                </button>                      
                
            </div>
        </div>
    </div>